.edit {
  background-color: white;
  height: 60vh;
  width: 90vw;
  margin: 10vh auto;
  border: 0.7px solid rgba(219, 219, 219);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}

.edit * {
  background-color: white;
}

.editOptions {
  height: 100%;
  width: 25%;
  /* background-color: red; */
  border-right: 1px solid rgba(219, 219, 219);
}

.editVals {
  height: 100%;
  width: 75%;
  /* border: 0.1px solid rgba(219, 219, 219); */
}

.info {
  margin: 0 20% 0 10%;
}

.user {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
}

.user img {
  height: 50px;
  width: 50px;
  margin: 5px 0 0 0;
  border-radius: 50%;
}

.user h4 {
  font-size: 1.7em;
  margin-left: 2.5vw;
}

.input {
  background-color: #fafafa !important;
  /* margin: 3px 10% !important; */
  background-color: white !important;
  width: 385px !important;
  height: 36px !important;
  border: 1px solid rgba(219, 219, 219) !important;
  border-radius: 3px !important;
  padding: 0 10px !important;
}
.input::-webkit-input-placeholder {
  color: #acacac !important;
  font-weight: 400;
  font-size: 14px;
}

.input:focus {
  border: 0.3px solid rgba(124, 124, 124, 0.787) !important;
}

table,
tr,
td {
  border: 0;
}

table tr td h5 {
  font-size: 1.2em;
  font-weight: 500;
}

textarea {
  border: 1px solid rgba(219, 219, 219) !important;
}

.btn {
  background-color: #0095f6;
  border: none;
  color: white;
  width: 80px !important;
  height: 40px !important;
  margin: 5vh 0 0 20vw;
  border-radius: 3px;
  font-weight: 500;
  font-size: 1.2em;
}

.change {
  color: #0095f6;
  font-weight: bold;
  margin-left: 29px;
}
