@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

.brand {
  background-color: white;
  font-family: "Grand Hotel", cursive;
  font-size: 53px;

  font-weight: 500;
  padding: 10px;
}

.quote {
  background-color: white !important;
}
.quote p {
  margin: 0 20px;
  font-size: 18px;
  font-weight: 600;
  background-color: white !important;
  color: rgba(92, 91, 91, 0.787);
  padding-bottom: 20px;
}

.insta {
  background-color: white;
  width: 100%;
}
.card {
  background-color: white;
  width: 350px;
  height: 484px;
  margin: 15vh auto 0 auto;
  text-align: center;
  border: 1.3px solid rgba(219, 219, 219);
  border-radius: 1px;
}

.input {
  background-color: #fafafa !important;
  margin: 3px 10% !important;
  width: 235px !important;
  height: 36px !important;
  border: 1px solid rgba(219, 219, 219) !important;
  border-radius: 3px !important;
  padding: 0 10px !important;
}
.input::-webkit-input-placeholder {
  color: #acacac !important;
  font-weight: 400;
  font-size: 14px;
}

.input:focus {
  border: 0.3px solid rgba(124, 124, 124, 0.787) !important;
}

.btn {
  background-color: #0095f6;
  border: none;
  color: white;
  width: 258px !important;
  height: 30px !important;
  margin-top: 10px;
  border-radius: 3px;
  font-weight: 500;
}

.terms {
  background-color: white !important;
}
.terms p {
  margin: 22px 25px;
  background-color: white !important;
  color: rgba(124, 124, 124, 0.787);
  word-spacing: -1px;
  font-size: 12px;
  font-weight: 500;
}
/* ?............. */

.card2 {
  background-color: white;
  width: 350px;
  height: 63px;
  margin: 2vh auto 0 auto;
  text-align: center;
  border: 1.3px solid rgba(219, 219, 219);
  border-radius: 1px;
}

.card2 p {
  background-color: white;
}

.signup {
  background-color: white;
  color: #119cf7;
  font-weight: 500;
}
