.card {
  background-color: white;
  width: 550px;
  height: 100% !important;
  margin: 15vh auto 0 auto;
  border: 1.3px solid rgba(219, 219, 219);
  border-radius: 1px;
  /* margin-bottom: 500px; */
}

.info {
  max-width: 95%;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}

.info img {
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
  margin: 0 13px 0 0;
}

.info h6 {
  background-color: white;
  font-weight: 500;
  /* padding-bottom: 3px; */
  font-size: 14px;
}

.image {
  background-color: white;
  width: 100%;
}

.image img {
  background-color: white;
  width: 100%;
  height: 640px;
}

.cardContent {
  margin-left: 0;
  background-color: white;
}
.cardContent p {
  margin: 5px 0 3px 20px;
  font-weight: 500;
  background-color: white;
}
.cardContent i {
  margin-left: 20px;
}
.description {
  margin: 0 0 20px 20px;
  background-color: white;
  display: flex;
  max-width: 90%;
}
.description .name {
  background-color: white;
  font-weight: 500;
  margin-right: 10px;
  font-size: 14px;
}
.description h6 {
  background-color: white;
  font-size: 14px;
}

.comment form {
  padding: 25px 0;
  border-top: 1.3px solid rgba(219, 219, 219);
  background-color: white;
  margin: 5px 0 0 0;
  display: flex;
}

.comment input {
  background-color: white;
  margin: 0 0 0 20px !important;
  height: 20px !important;
  width: 100% !important;
}
.comment button {
  background-color: white;
  border: 0;
}

.delete i {
  flex-grow: 1;
  margin-left: 440px;
  cursor: pointer;
}
