@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

.brand {
  padding: 80px;
}

.logo {
  font-family: "Grand Hotel", cursive;
  margin: 0 0 0 20px;
  padding: 0;
  font-size: 33px;
  font-weight: 500;
  background-color: transparent;
}

li {
  height: 100%;
}

ul,
a,
i {
  background-color: transparent;
  padding: 0;
  margin: 0;
  height: 100% !important;
}

.z-depth-1,
nav,
.sidenav {
  height: 59px;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0,
    0 1px 0px 0 rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0, 0 1px 0px 0 rgba(0, 0, 0, 0.2) !important;
}

.nav-wrapper {
}

.logout {
  background-color: rgb(235, 88, 88);
  color: white !important;
  text-transform: uppercase;
}

.logout:hover {
  background-color: #c62828;
  color: white !important;
}

.search {
  display: inline-block;
  align-items: end;
  margin-left: 50%;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 280px;
}
.listNavLink {
  width: inherit;
  background-color: #c8c8c8 !important;
}
.listNavLink:hover {
  background-color: #e9e9e9 !important;
}

.list li {
  padding-left: 15px;
  border-bottom: 1px solid #efefef;
  background-color: #c8c8c8;
  flex-direction: row;
  color: black;
  width: 100%;
}

.list li:hover {
  background-color: #e9e9e9;
}

.searchPic {
  border-radius: 50% !important;
  height: 12px !important;
  width: 25px !important;
  background-color: transparent;
}

.searchPic img {
  height: 19.5px !important;
  width: 19px !important;
  box-sizing: border-box;
  border-radius: 50% !important;
}

.searchName {
  background-color: transparent;
  margin-left: 7px;
}
