.profile {
  max-width: 60%;
  margin: 0 auto;
}

.profileInfo {
  display: flex;
  justify-content: start;
  margin: 18px 0;
  padding-bottom: 30px;
  border-bottom: 1.5px solid rgba(173, 173, 173, 0.3);
}

.profileImage {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: start;
  width: 200%;
}

.imageBox {
  margin-left: 20%;
}

.infoBox {
  margin-left: 20%;
}

.gallery {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  overflow: hidden;
}
.gallery img {
  margin: 2px;
  width: 20%;
  display: inline;
}

.btnFollow,
.btnFollow:focus {
  background-color: #0095f6;
  border: none;
  color: white;
  width: 258px !important;
  height: 30px !important;
  margin-top: 10px;
  border-radius: 3px;
  font-weight: 500;
}

.btnUnfollow,
.btnUnfollow:focus {
  background-color: white;
  border: 1px solid rgba(219, 219, 219) !important;
  color: black;
  width: 258px !important;
  height: 30px !important;
  margin-top: 10px;
  border-radius: 3px;
  font-weight: 500;
}

/* @media screen and (max-width: 540px) {
  .profile {
    max-width: 85%;
    margin: 0 auto;
  }
} */

/* @media screen and (min-width: 540px) and (max-width: 780px) {
  .profile {
    max-width: 85%;
    margin: 0 auto;
  }
} */
